@font-face {
    font-family: 'ArsenalSC';
    src: url('../fonts/Arsenal_SC/ArsenalSC-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ArsenalSC';
    src: url('../fonts/Arsenal_SC/ArsenalSC-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'ArsenalSC';
    src: url('../fonts/Arsenal_SC/ArsenalSC-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}